<!doctype html>
<html>

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
	    crossorigin="anonymous"></script>
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
	    crossorigin="anonymous">
	<link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css">
	<!-- Optional theme -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp"
	    crossorigin="anonymous">
	<!-- Latest compiled and minified JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
	    crossorigin="anonymous"></script>
	<style>
		body {
			font: 20px Montserrat, sans-serif;
			line-height: 1.8;
			color: #5bc0de;
		}

		p {
			font-size: 16px;
		}

		.margin {
			margin-bottom: 45px;
		}

		.bg-1 {
			background-color: #1abc9c;
			/* Green */
			color: #ffffff;
		}

		.bg-2 {
			background-color: #474e5d;
			/* Dark Blue */
			color: #ffffff;
		}

		.bg-3 {
			background-color: #ffffff;
			/* White */
			color: #555555;
		}

		.bg-4 {
			background-color: #2f2f2f;
			/* Black Gray */
			color: #fff;
		}

		.container-fluid {
			padding-top: 70px;
			padding-bottom: 70px;
		}

		.navbar {
			padding-top: 15px;
			padding-bottom: 15px;
			border: 0;
			border-radius: 0;
			margin-bottom: 0;
			font-size: 12px;
			letter-spacing: 5px;
		}

		.navbar-nav li a:hover {
			color: #1abc9c !important;
		}

		footer {
			position: absolute;
			bottom: 0;
			width: 100%;
			height: 40px;
		}
	</style>
	<title>Lista:Crud</title>
</head>

<body>

	<!-- Navbar -->
	<nav class="navbar navbar-default">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="/crud">CRUD Java Spring Boot</a>
			</div>
			<div class="collapse navbar-collapse" id="myNavbar">
				<ul class="nav navbar-nav navbar-right">
					<li>
						<a href="/crud/lista">Usuario</a>
					</li>
					<li>
						<a href="#">Cliente</a>
					</li>
					<li>
						<a href="#">Proveedor</a>
					</li>
				</ul>
			</div>
		</div>
	</nav>

	<!-- First Container -->
	<div class="container">
		<div class="panel panel-info">
			<div class="panel-heading">
				<h3>Lista de Usuarios</h3>
			</div>
			<table class="table table-striped">
				<thead>
					<tr>
						<th>Id</th>
						<th>Nombre</th>
						<th>Contraseña</th>
						<th>Email</th>
					</tr>
				</thead>
				<tbody>
					<tr data-th-each="usuario :${usuarios}">
						<td data-th-text="${usuario.id}"></td>
						<td data-th-text="${usuario.nombre}"></td>
						<td data-th-text="${usuario.password}"></td>
						<td data-th-text="${usuario.email}"></td>
						<td>
							<a th:href="@{'/crud/editar/{id}'(id=${usuario.id})}">
								<span class="fa-stack">
									<i class="glyphicon glyphicon-edit"></i>
								</span>
							</a>
						</td>
						<td>
							<a th:href="@{'/crud/borrar/{id}'(id=${usuario.id})}">
								<span class="fa-stack">
									<i class="glyphicon glyphicon-trash"></i>
								</span>
							</a>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
		<br />
		<a class="btn btn-info" href="/crud/nuevo">Nuevo Usuario</a>
	</div>
	<footer class="container-fluid bg-4 text-center">
		<p>Bootstrap Theme Made By
			<a href="#">CRUD</a>
		</p>
	</footer>
</body>

</html>